<div
  class="ui-layout"
  [ngStyle]="hostStyles()"
  [class.ui-layout--stack]="mode() === 'stack'"
  [class.ui-layout--inline]="mode() === 'inline'"
  [class.ui-layout--grid]="mode() === 'grid'"
  [class.ui-layout--wrap]="wrap()"
  [class.ui-layout--align-start]="align() === 'start'"
  [class.ui-layout--align-center]="align() === 'center'"
  [class.ui-layout--align-end]="align() === 'end'"
  [class.ui-layout--align-stretch]="align() === 'stretch'"
  [class.ui-layout--justify-start]="justify() === 'start'"
  [class.ui-layout--justify-center]="justify() === 'center'"
  [class.ui-layout--justify-end]="justify() === 'end'"
  [class.ui-layout--justify-space-between]="justify() === 'space-between'"
>
  <ng-content></ng-content>
</div>
